<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Welcome, <%= user ? user.profile.name : "Coffee Lover" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <p>Coffee Shop Tracker lets anyone, from the coffee enthusiest to someone is just discovering this magical elixer, to keep track of which shops and beverages they like the most. Enjoy, adding coffee shops and keeping track of places you'd love or never visit again.<br>Loggin to add a Shop! </p>
  <a href="/auth/google" class="siwg-link">
    <button type="submit" class="siwg">
      <img id="siwg-image" alt="Sign in with Google" />
    </button>
  </a>
</main>

<%- include('./partials/footer') %>
