<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>

<main>
  <h1> User Check-Ins</h1>
  <ul>
    <% checkins.forEach(checkin => { %>
      <h1 class-="checkin-username"> <%= checkin.owner.name %> </h1>
      <section class="checkin-section">
      <% if (user?.profile.avatar) { %>
        
          <div>
            <img
              src="<%= user.profile.avatar %>"
              alt="<%= user.profile.name %> avatar"
            />
          </div>
      <% } %>
      <% if (!user) { %>
        <h3><%= checkin.owner.name %> </h3>
      <% } %>
          <div>
            <li id="checkin-name">Coffee Shop: <%= checkin.name %></li>
            <li id="checkin-rating">Rating: <%= checkin.rating %></li>
            <li id="checkin-beverage">Drink: <%= checkin.beverage.name %> </li>
            <li id="checkin-location">Location: <%= checkin.location %></li>
            <li id="checkin-comment">Comments: <%= checkin.comment %></li>
            <li id="checkin-parking"><%= checkin.parking ? 'Has convenient parking' : 'Does not have convenient parking' %></li>
          </div>
        </section>
        <% if (checkin.owner.equals(user?.profile._id)) { %> 
          <form action="/checkins/<%= checkin._id %>/edit" method="GET">
            <button class="btn edit-button" type="submit">Edit Check-In</button>
          </form>
          <form action="/checkins/<%= checkin._id %>?_method=DELETE" method="POST">
            <button class="btn edit-button" type="submit">Delete Check-In</button>
        <% } %>
    <% }) %>
  </ul>
</main>

<%- include('../partials/footer') %>